
body {
     background: blue;
     font-size: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     min-height: 100vh;
     padding: 0;
     margin: 0;
     overflow-x: hidden;
}
div.sun {
     width: 500px;
     height:500px;
     background-color: yellow;
     position:absolute;
     top: -200px;
     right:-200px;
     border-radius: 250px;

}
p {
     margin: 0;
     padding: 0;
}
.orange {
     color: orange;
}
.pink {
     color: pink;
}